version: "3.9"

services:
  api:
    build: ./popcornhub-api
    container_name: popcornhub-api
    ports:
      - "5000:5000"        
    volumes:
      - ./data:/data       
    restart: unless-stopped